.header {
  background-color: grey;
  height: 5rem;
  margin: -10px;
}

ul.list {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 30px;
  float: right;
  margin-right: 30px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: blue;
}
